@{ ViewData["Title"] = "Shopping Cart"; }

@model ShoppingCartViewModel;

<h3>My Shopping Cart</h3>

<form method="POST" asp-action="ShoppingCart">
</form>

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Unit Price
            </div>
            <div class="col-md-2 text-center">
                Amount
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.Items)
        {
            <div class="row row-center product-line" item-id="@(item.Id)">
                <div class="col-md-3">
                    <img class="img-product-cart" src="/images/products/large_@(item.Product.InternalId).jpg" />
                </div>
                <div class="col-md-3">@(item.Product.Name)</div>
                <div class="col-md-2 text-center">R$ @(item.UnitPrice)</div>
                <div class="col-md-2 text-center">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" onclick="shoppingCartJS.clickDecrement(this)">
                                <span class="glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" value="@(item.Amount) "
                               class="form-control text-center" onblur="shoppingCartJS.updateAmount(this)"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" onclick="shoppingCartJS.clickIncrement(this)">
                                <span class="glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    R$ <span class="pull-right" subtotal>
                        @(item.Subtotal)
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span number-items>
                    Total: @(Model.Items.Count)
                    items
                </span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="pull-right" total>
                    @(Model.Total)
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" asp-action="carousel">
                Keep Shopping
            </a>
            <a class="btn btn-success" asp-action="register">
                Fill the Registration
            </a>
        </div>
    </div>
</div>

@section Scripts
{ 
    <script src="~/js/shoppingCart.js">

    </script>

}
